@media(max-width:950px) {

    .principal {
        width: 290px;
        height: 510px;
        gap: 10px;
        flex-direction: column;
    }

    .produto>picture>.imagem-produto {
        max-width: 290px;
        max-height: 220px;
        border-radius: 10px 10px 0px 0px;
    }

    .descricao-produto {
        padding-left: 20px;
        padding-right: 0;
        width: 250px;
    }

    .descricao-produto h1 {
        padding-right: 0;
        margin-right: 0;
        font-size: 22px;
    }

    .descricao-produto p {
        font-size: 10px;
    }

    .valor-atual {
        font-size: 23px;
    }

    .valor-antigo {

        margin-top: 9px;
    }

    .adicionar-carrinho {

        height: 40px;
    }
}