body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.principal {
    display: flex;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    gap: 20px;
    background-color: white;

}

.produto>picture>.imagem-produto {
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    max-width: 350px;
    height: 330px;
}

.descricao-produto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    width: 100%;
}

.header-section {
    letter-spacing: 3px;
    font-family: "Montserrat";
    font-size: 11px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%)
}

.descricao-produto h1 {
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
    margin-top: 10px;
    margin-right: 20px;
    padding-right: 30px;
    font-size: 18px;
}

.descricao-produto p {
    font-family: "Montserrat";
    line-height: 15px;
    text-justify: justify;
    font-size: 10px;
    margin-top: 10px;
    padding-right: 10px;
    color: hsl(228, 12%, 48%);
}

.aplicacao-promocao {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.valor-atual {
    font-family: "Fraunces";
    color: #458C6B;
    font-weight: bold;
    font-size: 17px;
}

.valor-antigo {
    font-family: "Montserrat";
    font-size: 9px;
    margin-top: 6px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.adicionar-carrinho {
    font-family: "Montserrat";
    border: none;
    background-color: #458C6B;
    color: white;
    height: 40px;
    border-radius: 8px;
    width: 100%;
}

.adicionar-carrinho:hover {
    background-color: #1B402E;
}

.imagem-carrinho {
    margin-right: 5px;
}

.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}